<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DropNet" version="1.10.23.0" targetFramework="net45" />
  <package id="Nemiro.OAuth" version="1.9" targetFramework="net45" />
  <package id="Nemiro.OAuth.LoginForms" version="1.1" targetFramework="net45" />
  <package id="RestSharp" version="105.0.1" targetFramework="net45" />
</packages>