<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Beh1">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Beh1" name="WCFDataContractService.MyDiskInfo">
        <endpoint
          address="Ep1"
          binding="wsHttpBinding"
          contract="WCFDataContractService.IMyDiskInfo"
          />
        <endpoint
          address="mex"
          binding="mexHttpBinding"
          contract="IMetadataExchange"
          />
      </service>
    </services>
  </system.serviceModel>
</configuration>